<html>
    <head>
        <title>
            Whatsapp auto messgae
        </title>
    </head>
    <body>
        <h1 align="center">Welcome to Auto Messaging Whatsapp</h1>
        <form action="/vd" method=["POST","GET"]>
        Enter phone number <input type="text" id="phone"><br>
        Enter No.of meaagaes to be sent <input type="number" id="count"><br>
        Enter delay time <input type="number" id="delay"><br>
        <input type="submit">
        </form>
        <h1>Your Entered num:</h1>
        <hr>
        <h1>{{x}}</h1>
        <h1>{{y}}</h1>
        <h1>{{z}}</h1>
    </body>
</html>